# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FG_Physics_Project.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHubRepositories\FG_Physics_GP\FG_Physics_Project\.idea\.idea.FG_Physics_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
